<p><%= link_to 'Add a new post', new_post_path %></p>

<h1>Posts<% link_to "(+)", new_post_path %></h1>

  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <h3><%= post.author %></h3>
    <p><%= post. body %></p>
    <p><%= link_to "(Edit post)", edit_post_path(post) %></p>
  <% end %>
